In [5]:
from pandas import *
import numpy


grupo1 = DataFrame(Series([-10,0,10,20,30]))

grupo1.describe()

,0
count,5.000000
mean,10.000000
std,15.811388
min,-10.000000
25%,0.000000
50%,10.000000
75%,20.000000
max,30.000000

In [6]:
grupo1 = DataFrame(Series([8,9,10,11,12]))

grupo1.describe()

,0
count,5.000000
mean,10.000000
std,1.581139
min,8.000000
25%,9.000000
50%,10.000000
75%,11.000000
max,12.000000