In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

#dados = pd.read_csv('si-original.csv', na_values=['NULL'], dtype={"MATRICULA" : "object"})
dados = pd.read_csv('eca-original.csv', na_values=['NULL'], dtype={"MATRICULA" : "object"})

#dados.head()

In [27]:
dados.dtypes

MATRICULA                object
SIT_MATRICULA             int64
PAI_FALECIDO            float64
MAE_FALECIDO            float64
RENDA_FAMILIAR          float64
TIPO_ESCOLA_ORIGEM       object
ANO_CONCLUSAO_2_GRAU    float64
RENDA_PER_CAPITA        float64
COD_ESTADO_CIVIL         object
N_FILHOS                float64
SEXO                     object
DT_NASCIMENTO            object
PROFISSAO                object
DESC_CIDADE              object
DESC_ESTADO              object
DESC_IDIOMA              object
NIVEL_FALA              float64
NIVEL_COMPREENSAO       float64
NIVEL_ESCRITA           float64
NIVEL_LEITURA           float64
NOTAS                    object
N_FALTAS                float64
COD_DISCIPLINA            int64
CARGA_HOR                 int64
dtype: object

In [28]:
#CRIANDO CAMPO DE ANO DE INGRESSO PARA CÁLCULO DA IDADE DE INGRESSO
dados['ANO_INGRESSO'] = dados['MATRICULA'].str[:4]

#EXCLUINDO O ATRIBUTO MATRICULA
dados.drop('MATRICULA',axis=1, inplace=True)

In [29]:
dados.dtypes

SIT_MATRICULA             int64
PAI_FALECIDO            float64
MAE_FALECIDO            float64
RENDA_FAMILIAR          float64
TIPO_ESCOLA_ORIGEM       object
ANO_CONCLUSAO_2_GRAU    float64
RENDA_PER_CAPITA        float64
COD_ESTADO_CIVIL         object
N_FILHOS                float64
SEXO                     object
DT_NASCIMENTO            object
PROFISSAO                object
DESC_CIDADE              object
DESC_ESTADO              object
DESC_IDIOMA              object
NIVEL_FALA              float64
NIVEL_COMPREENSAO       float64
NIVEL_ESCRITA           float64
NIVEL_LEITURA           float64
NOTAS                    object
N_FALTAS                float64
COD_DISCIPLINA            int64
CARGA_HOR                 int64
ANO_INGRESSO             object
dtype: object

In [30]:
dados.head()

,SIT_MATRICULA,PAI_FALECIDO,MAE_FALECIDO,RENDA_FAMILIAR,TIPO_ESCOLA_ORIGEM,ANO_CONCLUSAO_2_GRAU,RENDA_PER_CAPITA,COD_ESTADO_CIVIL,N_FILHOS,SEXO,...,DESC_IDIOMA,NIVEL_FALA,NIVEL_COMPREENSAO,NIVEL_ESCRITA,NIVEL_LEITURA,NOTAS,N_FALTAS,COD_DISCIPLINA,CARGA_HOR,ANO_INGRESSO
0,0,0.0,0.0,NaN,E,2014.0,NaN,S,NaN,M,...,Espanhol,1.0,1.0,1.0,1.0,6.70,NaN,648,54,2016
1,0,0.0,0.0,0.0,P,2011.0,0.0,NaN,0.0,M,...,Inglês,2.0,3.0,3.0,3.0,10.00,NaN,648,54,2016
2,0,0.0,0.0,0.0,P,2011.0,0.0,NaN,0.0,M,...,Espanhol,1.0,1.0,1.0,1.0,10.00,NaN,648,54,2016
3,0,0.0,0.0,0.0,P,2014.0,0.0,NaN,0.0,M,...,NaN,NaN,NaN,NaN,NaN,0.00,70.0,648,54,2016
4,0,0.0,0.0,0.0,NaN,NaN,0.0,S,0.0,F,...,NaN,NaN,NaN,NaN,NaN,0.00,70.0,648,54,2016

In [31]:
#SALVANDO DADOS SEM MATRICULA
#dados.to_csv('si.csv', index=False)
dados.to_csv('eca.csv', index=False)