## Como excluir uma coluna que possui um determinado valor?


Vamos usar a teoria de conjuntos.

### Teoria de Conjunto

Teoria dos conjuntos é o ramo da matemática que estuda conjuntos, que são coleções de elementos. Embora qualquer tipo de elemento possa ser reunido em um conjunto, a teoria dos conjuntos é aplicada na maioria das vezes a elementos que são relevantes para a matemática. A linguagem da teoria dos conjuntos pode ser usada nas definições de quase todos os elementos matemáticos.

O que estamos procurando é um ~p(x) conjunto disjunto da nossa condição. 


<img src='disjuncao.png'>



Mas, qual o conjunto da nossa condição?
Então por teoria do conjunto primiro precisamos saber quais as colunas contém esse valor definido.
Portanto, vamos executar os seguintes passos para achar a disjunção do conjuntos de dados afetados pela condição.

<ul>
    <li>Localizar no dataframe a posição da ocorrência do valor</li>
    <li>Separar somente as colunas que em alguma (any) linha ocorreu o valor</li>
    <li>Separar o nome ou índice dessas colunas </li>
    <li>Excluir as colunas</li>
</ul>

É claro que existem várias formas de realizar essa operação no Pandas, mas eu vou optar pela mais
explícita. Até porque, por padrão, a linguagem Python é uma linguagem explícita, facilitando a aprendizagem.

In [168]:
import pandas as pd

In [169]:
## CRIANDO UM DATAFRAME FICTÍCIO

data = {'coluna 1': [1,3,4,5,0], 
        'coluna 2': [7,9,2,4,6], 
        'coluna 3': [4,4,0,2,3]}
df = pd.DataFrame(data)
df

   coluna 1  coluna 2  coluna 3
0         1         7         4
1         3         9         4
2         4         2         0
3         5         4         2
4         0         6         3

Agora, digamos que o que queremos excluir as colunas que contém o valor ZERO

Nesse caso devemos excluir a coluna 1 e a coluna 3. Sobrando somente a coluna 2.

### A FUNÇÃO isin([valores])

A função ISIN(valores), retorna um "mapa" boleano de onde se localiza dentro do nosso DataFrame os valores que estamos procurando. Nesse caso, onde existe a ocorrência de ZEROS.
Veja que ele marca somente a 
- Linha 4 da Coluna 1 
- Linha 2 da Coluna 3

In [170]:
df.isin([0])

   coluna 1  coluna 2  coluna 3
0     False     False     False
1     False     False     False
2     False     False      True
3     False     False     False
4      True     False     False

### A FUNÇÃO any()

Retornar se qualquer elemento é verdadeiro sobre o eixo solicitado. Por padrão o eixo são as colunas.

In [171]:
df.isin([0]).any()

coluna 1     True
coluna 2    False
coluna 3     True
dtype: bool

#### Combinando com a função de localização do pandas LOC

In [175]:
df.loc[ : , df.isin([0]).any()]

   coluna 1  coluna 3
0         1         4
1         3         4
2         4         0
3         5         2
4         0         3

#### Ampliando o comando e mostrando somente o nome das colunas que contém o valor zero

In [174]:
df.loc[ : , df.isin([0]).any()].columns.values

array(['coluna 1', 'coluna 3'], dtype=object)

## COMBINANDO TUDO

Agora vamos combinar o comando que criamos até agora com o DROP

Lembrando que para excluir colunas, devemos passar o array com o nome das colunas e mudar para o eixo 1 (axis=1)

#### df.drop({[colunas]},axis=1)

Esse seria um dos possíveis comandos. O mais explícito possível na teoria de conjunto.

In [179]:

df.drop(df.loc[ : , df.isin([0]).any()].columns.values, axis=1)

   coluna 2
0         7
1         9
2         2
3         4
4         6

## FALA SE ESSE NOTEBOOK NÃO MERECE LIKE?

É claro que existe outras formas... mas vou deixar vc pensar um pouco mais para otimizar esse comando!


GRANDE ABRAÇO DO SANDECO